# Dependencies
node_modules/
/.pnp
.pnp.js

# Next.js build output
.next/
out/

# Production / Compiled files
build/
dist/
*.tsbuildinfo
next-env.d.ts

# Env files
.env
.env.*
!.env.example

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS/system
.DS_Store
Thumbs.db

# Editor configs
.vscode/
.idea/

# Testing
/coverage

# Misc
*.pem
tmp/
